#content {
    width: 750px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid black;
    padding: 0.5cm;


}
#img1 {
    width: 500px;
    height: 250px;
    float: left;

}
#text {
    background: rgba(216, 26, 19, 0.411);
    width: 250px;
    height: 250px;
    float: right;

}
#img2 {
    width: 250px;
    height: 500px;
    float: left;
}
#img3 {
    width: 250px;
    height: 500px;
    float: left;
}
#img4 {
    width: 250px;
    height: 500px;
    float: right;
}